* {
  box-sizing: border-box; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 140px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -140px;
  margin-right: -140px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

.vc-header {
  background-color: #daac00; }
  .vc-header .container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center; }
  .vc-header .vc-menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    padding: 0; }
    .vc-header .vc-menu__link {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1.823125rem;
      color: white; }

.header-form {
  display: flex; }
  .header-form input {
    height: 50px;
    background-color: #fcc302;
    border: none;
    color: white;
    font-size: 1.301875rem;
    padding-left: 15px; }
    .header-form input::placeholder {
      color: white;
      font-size: 1.301875rem;
      padding-left: 15px; }
  .header-form button {
    height: 50px;
    width: 70px;
    background-color: #00bec9;
    border: none; }
    .header-form button i {
      color: white; }

.vc-menu__item + .vc-menu__item {
  padding-left: 30px; }

.vc-banner {
  background-color: #fcc302; }
  .vc-banner .container {
    display: flex;
    padding-top: 90px; }
  .vc-banner-wrapper {
    margin: 70px 30px 170px 0;
    width: 60%;
    float: left; }
  .vc-banner-title {
    font-size: 4.166875rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 70px; }
  .vc-banner-paragraph {
    font-size: 1.823125rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 50px 0;
    line-height: 33px; }
  .vc-banner__btn {
    width: 180px;
    height: 70px;
    padding: 20px 28px;
    text-decoration: none;
    background-color: #fcc302;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.301875rem;
    font-weight: 500; }
    .vc-banner__btn:hover {
      background-color: #00bec9;
      border: 4px solid #fcc302; }
  .vc-banner__btn + .vc-banner__btn {
    margin-left: 36px; }

.vc-animals {
  background-color: white; }
  .vc-animals .container {
    display: flex;
    padding-top: 130px; }
  .vc-animals-wrapper {
    margin: 70px 33px 170px 0;
    width: 60%;
    float: left; }
  .vc-animals-title {
    font-size: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 70px; }
  .vc-animals-paragraph {
    font-size: 1.823125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 50px 0;
    line-height: 33px; }
  .vc-animals-image {
    height: 100%;
    position: relative;
    -webkit-box-shadow: -140px 140px 0px -100px #fcc302;
    -moz-box-shadow: -140px 140px 0px -100px #fcc302;
    box-shadow: -140px 140px 0px -100px #fcc302; }
    .vc-animals-image img {
      display: block; }
    .vc-animals-image:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0px;
      bottom: 0px;
      background-color: rgba(252, 195, 2, 0.3); }
  .vc-animals_btn-play {
    border: none;
    border-radius: 40px;
    outline: none;
    position: absolute;
    left: 198px;
    bottom: 190px;
    padding: 0; }
    .vc-animals_btn-play:hover {
      transform: scale(1.5); }
  .vc-animals__btn {
    width: 180px;
    height: 70px;
    padding: 20px 28px;
    text-decoration: none;
    background-color: #fcc302;
    border: 4px solid #fcc302;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.301875rem;
    font-weight: 500; }
    .vc-animals__btn:hover {
      background-color: #00bec9;
      border: 4px solid #00bec9; }

.vc-services {
  background-color: #daac00;
  color: white;
  font-family: 'Poppins', sans-serif; }
  .vc-services_title-wrapper {
    text-align: center;
    padding-top: 100px; }
  .vc-services-title {
    font-size: 4.6875rem;
    font-weight: 700;
    margin: 0; }
  .vc-services-subtitle {
    font-size: 2.083125rem; }
  .vc-services-cardsinfo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 50px; }
  .vc-services-card-title {
    font-size: 2.34375rem;
    font-weight: 500; }
  .vc-services-card-subtitle {
    font-size: 1.5625rem;
    font-weight: 400; }

.vc-animals {
  background-color: white; }
  .vc-animals .container {
    display: flex;
    padding-top: 130px; }
  .vc-animals-wrapper-rigth {
    margin: 70px 0px 170px 0;
    width: 60%;
    float: left;
    text-align: right; }
  .vc-animals-title {
    font-size: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 70px; }
  .vc-animals-paragraph {
    font-size: 1.823125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 50px 0;
    line-height: 33px; }
  .vc-animals-image-rigth {
    height: 100%;
    position: relative;
    -webkit-box-shadow: 140px 140px 0px -100px #fcc302;
    -moz-box-shadow: 140px 140px 0px -100px #fcc302;
    box-shadow: 140px 140px 0px -100px #fcc302; }
    .vc-animals-image-rigth img {
      display: block; }
    .vc-animals-image-rigth:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0px;
      bottom: 0px;
      background-color: rgba(252, 195, 2, 0.3); }
  .vc-animals_btn-play {
    border: none;
    border-radius: 40px;
    outline: none;
    position: absolute;
    left: 198px;
    bottom: 190px;
    padding: 0; }
    .vc-animals_btn-play:hover {
      transform: scale(1.5); }
  .vc-animals__btn {
    width: 180px;
    height: 70px;
    background-color: #fcc302;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.301875rem;
    font-weight: 500; }
    .vc-animals__btn:hover {
      background-color: #00bec9;
      border: 4px solid #00bec9; }

.vc-sellingpets {
  background-color: #daac00;
  color: white;
  font-family: 'Poppins', sans-serif; }
  .vc-sellingpets_title-wrapper {
    text-align: center;
    padding-top: 100px; }
  .vc-sellingpets-title {
    font-size: 4.6875rem;
    font-weight: 700;
    margin: 0; }
  .vc-sellingpets-subtitle {
    font-size: 2.083125rem; }
  .vc-sellingpets-cardsinfo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 50px; }
  .vc-sellingpets-card-title {
    font-size: 2.34375rem;
    font-weight: 500; }
    .vc-sellingpets-card-title s {
      padding-right: 30px; }
  .vc-sellingpets-card-subtitle {
    font-size: 1.5625rem;
    font-weight: 400; }
  .vc-sellingpets-link {
    text-decoration: none;
    color: white;
    background-color: #00bec9;
    padding: 15px 46px;
    border-radius: 40px;
    font-size: 1.5625rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500; }

.vc-team {
  background-color: white;
  font-family: 'Poppins', sans-serif; }
  .vc-team_title-wrapper {
    text-align: center;
    padding-top: 100px; }
  .vc-team-title {
    font-size: 4.6875rem;
    font-weight: 700;
    margin: 0; }
  .vc-team-subtitle {
    font-size: 2.083125rem; }
  .vc-team-cardsinfo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 50px; }
  .vc-team-card-title {
    font-size: 2.34375rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0; }
  .vc-team-card-subtitle {
    font-size: 1.5625rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0; }
  .vc-team-social {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center; }
