.vc-header {
  background-color: #daac00; }
  .vc-header .container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center; }
  .vc-header .vc-menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    padding: 0; }
    .vc-header .vc-menu__link {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1.823125rem;
      color: white; }

.header-form {
  display: flex; }
  .header-form input {
    height: 50px;
    background-color: #fcc302;
    border: none;
    color: white;
    font-size: 1.301875rem;
    padding-left: 15px; }
    .header-form input::placeholder {
      color: white;
      font-size: 1.301875rem;
      padding-left: 15px; }
  .header-form button {
    height: 50px;
    width: 70px;
    background-color: #00bec9;
    border: none; }
    .header-form button i {
      color: white; }

.vc-menu__item + .vc-menu__item {
  padding-left: 30px; }

.vc-banner {
  background-color: #fcc302; }
  .vc-banner .container {
    display: flex;
    padding-top: 90px; }
  .vc-banner-wrapper {
    margin: 70px 30px 170px 0;
    width: 60%;
    float: left; }
  .vc-banner-title {
    font-size: 4.166875rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 70px; }
  .vc-banner-paragraph {
    font-size: 1.823125rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 50px 0;
    line-height: 33px; }
  .vc-banner__btn {
    width: 180px;
    height: 70px;
    background-color: #fcc302;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.301875rem;
    font-weight: 500; }
    .vc-banner__btn:hover {
      background-color: #00bec9;
      border: none; }
  .vc-banner__btn + .vc-banner__btn {
    margin-left: 36px; }
